*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    padding: 50px 150px;
}
main{
    border: 10px solid golden;
    background-color: white;
    border-radius: 50px;
}
h1{
    text-align: center;
    font-size: 35px;
    padding: 20px;
    color: var(--fcolor);
}

input[type="text"]{
    outline: none;
    height: 40px;
    padding: 5px;
    font-size: 25px;
    margin-left: 25%;
}
button{
    height: 40px;
    font-size: 25px;
}
.s{
    padding: 20px 10px;
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.theme{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: cyan;
}
input[type="radio"]{
    appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
input[type="radio"]:checked{
    background-color: var(--rcolor);
}
:root:has(#red:checked){
    --rcolor:rgb(161, 160, 160);
    --fcolor:black;
    --bc:gray
}
:root:has(#green:checked){
    --rcolor:rgb(245, 203, 210);
    --fcolor:rgb(252, 126, 147);
    --bc:gray;
}
:root:has(#blue:checked){
    --rcolor:rgb(158, 158, 246);
    --fcolor:darkblue;
    --bc:gray;
}
:root:has(#yellow:checked){
    --rcolor:rgb(98, 210, 98);
    --fcolor:rgb(1, 79, 1);
    --bc:rgb(117, 97, 97);
}
:root:has(#lightyellow:checked){
    --rcolor:rgb(13, 13, 13);
    --fcolor:rgb(146, 146, 246);
    --bc:rgb(158, 148, 148);
}
#red{
    border: 4px solid red;
}
#green{
    border: 4px solid green;
}
#blue{
    border: 4px solid lightblue;
}
#yellow{
    border: 4px solid pink;
}
#light{
    border: 4px solid gray;
}
 body{
    background-color: var(--rcolor);
 }

 .mov{
    height: 200px;
    width: 150px;
 }
 img{
    height: 100%;
    width: 100%;
 }
 article{
    padding: 20px;
    border: 3px solid var(--bc);
    display: flex;
    flex-wrap: wrap;
 }